.item1 {
  grid-area: menu;
}
.item2 {
  grid-area: main;
}
.item3 {
  grid-area: right;
}
.item4 {
  grid-area: left;
}

.cssgrid {
  display: grid;
  grid-template-areas:
    "menu  main right "
    "menu  left right";
  grid-gap: 5px;
  padding: 5vh 2vw;
}

@media only screen and (max-width: 896px) {
  #plant {
    display: none;
  }
  #containerinsat {
    height: 270vh;
  }
  .cssgrid {
    padding: 10vh 5vw;
  }
}
