.App{
    background-color: rgb(90, 0, 116);
  }
  
  .girlimg{
    position: absolute;
    margin-left: 55%;
    z-index: 5;
  }
  
  .Title {
    font-size: 3em;
    font-family: sans-serif;
    color: rgb(254, 192, 199);
    text-align: center;
  }
  
  .welcomeParagraph{
    font-size: large;
    color: white;
    text-align: justify;
  
  }
  
  .welcomeSection {
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    text-align: center;
   
  }
  .welcomeSection2 {
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    margin:0em 2em;
    text-align: center;
    background-color: white;
  }
  
  .IEEESection {
    text-align: center;
    justify-content: center;
  }
  
  .Title1 {
    
    font-size: 3em;
    font-family: sans-serif;
    color:rgb(94, 27, 123);
    text-align: center;
    margin-right: 2em;
  }
  
  
  
  .a {
    color:rgb(0, 123, 182);
    font-size: 8em;
  }
  .b {
    color:rgb(3, 92, 134);
    font-size: 8em;
  }
  .c {
    color:rgb(35, 62, 121);
    font-size: 8em;
  }
  .d {
    color:rgb(37, 21, 93);
    font-size: 8em;
  }
  .e {
    color: rgb(39, 25, 87);
    font-size: 8em;
  }
  .f {
    color:rgb(46, 6, 64);
    font-size: 8em;
  }
  .g {
    color:rgb(71, 31, 89);
    font-size: 8em;
  }
  .h {
    color:rgb(66, 18, 87);
    font-size: 8em;
  }
  .i {
    color:rgb(94, 27, 123);
    font-size: 8em;
  }
  
  .IEEEParagraph {
    font-size: 1.5em;
    margin: .05em 5em;
    text-align: justify;
  }

  .WIESection{
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    margin:1em 2em;
    text-align: center;
    background-color: white;
  }
  
  .logo {
    width: 120%;
  }

  .WIETitle {
    font-size: 1100%;
    text-align: left;
    color: darkorchid;
    padding: 0em 0.8em;
  }