@media only screen and (min-width: 960px) {
  .Carouselitems {
    width: 60%;
  }
  .ktiba {
    max-width: 50vw;
  }
  .Carouselitems {
    max-width: 40vw;
  }
}

.imagesponso {
  display: flex;
  justify-content: center;
}

.posts {
  justify-content: center;
  background-image: url("../Images/IEEEE.png");
  margin: 10vh 0vh;
  background-position-x: left;
  background-position-y: bottom;
  margin-top: 8vh;
  min-height: 90vh;
  align-content: center;
}

.gridofpartners {
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;

  display: grid;
  grid-gap: 1em;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
.sponsors {
  margin: 2em 15vw;
  padding: 2vh 5vw;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  margin-top: -17vh;
  z-index: 20;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .sponsors {
    box-shadow: none;
  }
}

.imagepartner {
  width: 50%;
  margin-bottom: 1em;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagekolha {
  width: 100%;
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  filter: grayscale(1);
  opacity: 0.5;
  transition: filter 0.2s, opacity 0.2s;
}

.item:hover {
  filter: none;
  opacity: 1;
}

.text {
  font-family: inter;
  font-size: small;
}

.sponso {
  color: #662992;
  font-size: xx-large;
  padding: 3vh;
}
.layout {
  display: flex;
  flex-wrap: wrap;
}

.ktiba {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 8vw;
  text-align: center;
}

.Carouselitems {
  align-self: flex-end;
  width: 100vw;
}

@media only screen and (max-width: 320px) {
}
