.App{
    background-color: rgb(90, 0, 116);
  }
  
  .girlimg{
    position: absolute;
    margin-left: 55%;
    z-index: 5;
    margin-top: 2em;
    width: 30%;
  }
  
  .Title {
    font-size: 3em;
    font-family: sans-serif;
    color: #e8667b;
    text-align: center;
  }
  
  .welcomeParagraph{
    font-size: large;
    color: white;
    text-align: justify;
  
  }
  
  .welcomeSection {
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    text-align: center;
   
  }
  .welcomeSection2 {
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    margin:0em 2em;
    text-align: center;
    background-color: white;
  }
  
  .IEEESection {
    text-align: center;
    justify-content: center;
  }
  
  .Title1 {
    
    font-size: 3em;
    font-family: sans-serif;
    color:rgb(94, 27, 123);
    text-align: center;
    margin-right: 2em;
  }
  
  
  
  .TitleIEEE{
    width: -webkit-fill-available;
  }
  
  .IEEEParagraph {
    font-size: 1.5em;
    margin: .05em 5em;
    text-align: justify;
  }

  .WIESection{
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    margin:1em 2em;
    text-align: center;
    background-color: white;
  }
  

  .EventsSection {
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    margin:1em 2em;
    text-align: center;
    
  }

  .Title2 {
    
    font-size: 5em;
    font-family: sans-serif;
    color:#e8667b;
    text-align: left;
    margin-right: 2em;
  }
  