@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");

/* Generic styles */
html {
  scroll-behavior: smooth;
}

.browsers {
  background-color: #43cac3;
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
}

.browsers:hover {
  opacity: 0.6;
}

.goingdown {
  margin-top: -5vh;
  font-size: larger;
  justify-content: center;
  display: flex;
}

/* Styles for the hero image */
.hero {
  /* Photo by mnm.all on Unsplash */
  background-image: url("../Images/soon2.png");
  background-size: cover;
  background-position: bottom;
  height: 90vh;
  padding: 3rem 1.5rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.hero > * {
  color: white;
  justify-self: self-end;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 2vh;
}

.coloraman {
  color: white;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: 0.75rem;
}

/* breweries styles */
.breweries {
  padding: 2rem;
}

.breweries > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.breweries > ul > li {
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  background-color: white;
}

.breweries > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}

.breweries > ul > li > figure > img {
  width: 100%;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(189, 112, 189, 0.7);
  width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.breweries > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #666666;
}

.breweries > ul > li > a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.soon {
  text-align: center;
  color: #662992;
  margin: 1em;
  font-size: xxx-large;
}
