#WIEIEEE {
    font-size: x-large;
    font-family: revert;
    color: seashell;
    padding-top: 0.5em;
  }
  
  @media only screen and (max-width: 900px) {
    #WIEIEEE {
      display: none;
    }
  }

  @media only screen and (max-width: 977px) {
    .na {
      display: none;
    }
  }
  
  
  .na {
    background-color: rgba(0, 0, 0, 0);
  }

  .links {
      color: seashell;
  }

 .droplinks{
  color: seashell;
 }
  
  .ant-menu-horizontal > .ant-menu-item a {
    color: seashell;
}

@media only screen and (max-width: 473px) {
.ant-menu-item, .ant-menu-submenu-title {
  color: gray;
}

}

