.TitleNav {
    color: white;
    font-size: large;
  }

  #menuicon{
      display: none;
  }

  @media only screen and (max-width: 896px) {
    #menuicon {
      display: inherit;
    }
    .Buttons {
        display: none;
    }
    #Appbar{
      align-items: normal;
    }
  }

  #Button {
      margin: 0em 0.5em;
  }

  .Logoimg {
    width: 4em;
  }

  .logoplace {
    text-align: end;
  }

  #Main{
    background-color: rgb(90, 0, 116);
  }